<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On

    # Redirect all requests to the front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
